.oneRouteMap {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-shadow: 0px 2px 4px 0px rgba(34, 40, 53, 0.04);
}

.oneRouteDivMap {
  width: 122px;
  height: 122px;
  border-radius: 8px 8px 0 0;
  background: #d9d9d9;
}

.cardMap {
  display: flex;
  width: 100%;
  height: 122px;
  padding: 0px 12px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0 0 8px 8px;
  box-sizing: border-box;
  background: var(--white, #fff);
}

.headerCardMap {
  display: flex;
  flex-direction: column;
  height: 188px;
  padding: 12px 0 8px 0;
  gap: 8px;
}

.headerCardTextMap {
  color: black;
  margin: 0;
  padding-bottom: 0;
  flex: 1 0 0;
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 21px */

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footerCardMap {
  height: 144px;
  margin: 0;
  display: flex;
  padding: 0;
  align-items: center;
  align-self: stretch;
}

.footerCardTextMap {
  margin: 0;
  flex: 1 0 0;
  color: var(--text, #333);
  /* 15px */
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 21px */

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.characterRouteMap {
  display: flex;
  flex-direction: row;
  column-gap: 5px;

}

.routeTimeAndDistanceMap {
  padding: 2px 8px;
  background-color: rgba(210, 231, 234, 1);
  border-radius: 20px;
  color: black;

  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-align: left;

}

.routeTimeMap {
  background-color: rgba(210, 231, 234, 1);
}

.routeDistanceMap {
  background-color: rgba(208, 188, 255, 1);
}

.oneRouteDivImageMap {
  object-fit: cover;
  width: 122px;
  height: 122px;
}
