.wrapperOneRouteMap {
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin: 0 15px;
}

.oneRouteMap {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-shadow: 0px 2px 4px 0px rgba(34, 40, 53, 0.04);
  margin: 8px 15px;
  background-color: rgba(255, 248, 246, 1);
  border: 1px solid rgba(216, 194, 190, 1);
  border-radius: 8px;
}

.oneRouteDivMap {
  width: 122px;
  height: 122px;
  border-radius: 8px 8px 0 0;
  display: flex;
  align-self: center;
}

.cardMap {
  display: flex;
  width: 238px;
  height: 90px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0 0 8px 8px;
  padding: 16px 0 16px 16px;
}

.headerCardMap {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.headerCardTextMap {
  color: black;
  margin: 0;
  padding-bottom: 0;
  flex: 1 0 0;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  /*line-height: 140%; !* 21px *!*/

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footerCardMap {
  margin: 0;
  display: flex;
  padding: 0;
  align-items: center;
  align-self: stretch;
}

.footerCardTextMap {
  margin: 0;
  flex: 1 0 0;
  color: rgba(119, 86, 81, 1);
  /* 15px */
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 21px */

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.characterRouteMap {
  display: flex;
  flex-direction: row;
  column-gap: 5px;

}

.routeTimeAndDistanceMap {
  padding: 2px 8px;
  background-color: rgba(210, 231, 234, 1);
  border-radius: 20px;
  color: black;

  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-align: left;

}

.routeTimeMap {
  background-color: rgba(210, 231, 234, 1);
}

.routeDistanceMap {
  background-color: rgba(208, 188, 255, 1);
}

.oneRouteDivImageMap {
  object-fit: cover;
  width: 122px;
  height: 122px;
  border-radius: 8px;
}
