.wrapper_main {
  height: 100%;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--background, #f5f5f5);
}

.headerText {
  color: var(--text, #333);
  /* 18px */
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 25.2px */
}

.headerDiv {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.oneRoute {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0px 2px 4px 0px rgba(34, 40, 53, 0.04);
}

.oneRouteDiv {
  width: 165px;
  height: 165px;
  border-radius: 8px;
  background: #d9d9d9;
}

.card {
  display: flex;
  width: 165px;
  padding: 0px 12px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  background: var(--white, #fff);
}

.headerCard {
  display: flex;
  padding: 12px 0px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.headerCardText {
  flex: 1 0 0;
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 21px */
}

.footerCard {
  display: flex;
  padding: 12px 0px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.footerCardText {
  flex: 1 0 0;
  color: var(--text, #333);
  /* 15px */
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 21px */
}

.thematicRoutes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.thematicRoutesTextDiv {
  display: flex;
  width: 300px;
  align-items: flex-start;
  gap: 8px;
}

.thematicRoutesText {
  flex: 1 0 0;
  color: var(--text, #333);
  /* 18px */
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 25.2px */
}

.thematicRoutesTextAll {
  color: var(--primary, #1677ff);
  /* 18px */
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
}

.thematicRout {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
}

.oneThematicRout {
  width: 165px;
  height: 80px;
  border-radius: 8px;
  background: #d9d9d9;
  /* Z1 — статичные блоки */
  box-shadow: 0px 2px 4px 0px rgba(34, 40, 53, 0.04);
}

.cardDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.cardText {
  color: var(--text, #333);
  /* 18px */
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 25.2px */
}

.card {
  width: 200px;
  height: 136px;
  border-radius: 8px;
  background: #fff;
}
