.wrapper_login {
    font-size: 72px;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(230deg, rgba(48,79,217,0.3) 50%, rgba(255,255,255,1) 100%);
}

.login_form {
    background-color: rgba(223, 225, 249, 1);
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 100;
}

.image_logo {
    width: 300px;
    position: absolute;
    transform: translate(0, -85%);
}
